<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <h1>Ticket Receiver</h1>
  <div id = "datafield">
  </div>
  <div class="container">
    <div id="scan-validity">
        <div class="row" id = "name"></div>
        <div class="row" id = "id_number"></div>
        <div class="row" id = "is_valid"></div>
        <div class="row" id = "time_scanned"></div>
    </div>
  </div>
  

  
</main>
<!-- /Main Site -->
<script >

</script>

<script>


document.addEventListener("keydown", function(event) {
    // Check if the key pressed is Enter (key code 13)
    if (event.keyCode === 13) {
        // Barcode termination character detected, handle barcode data
        var barcodeData = document.getElementById("barcodeInput").value;
        console.log("Barcode scanned:", barcodeData);
        const currentTimestamp = new Date();

        // Format the timestamp
        currentTimestamp.toLocaleString('en-US', { timeZone: 'America/Chicago' });
        const formattedTimestamp = `${currentTimestamp.getFullYear()}-${(currentTimestamp.getMonth() + 1).toString().padStart(2, '0')}-${currentTimestamp.getDate().toString().padStart(2, '0')} ${currentTimestamp.getHours().toString().padStart(2, '0')}:${currentTimestamp.getMinutes().toString().padStart(2, '0')}:${currentTimestamp.getSeconds().toString().padStart(2, '0')}`;
        
        console.log("Formatted Timestamp:", formattedTimestamp);
        const scanData = document.getElementById("datafield");

        fetch("/scanned", {
            method: "POST",
            headers: {
                "Content-Type" : "application/json"
            },
            body: JSON.stringify({barcode : barcodeData, timestamp : currentTimestamp})
        }).then(response => {
            if (!response.ok) {
            throw new Error('Failed to fetch data');
            }
            return response.json();
        })
        .then(data => {
            first_name = data.studObj.first_name
            last_name = data.studObj.last_name
            id_num = data.studObj.id
            console.log("response:", data);
            const scan_validity = document.getElementById("scan-validity")
            const displayName = document.getElementById("name")
            const displayNum = document.getElementById("id_number")
            const displayValid = document.getElementById("is_valid")
            const displayTimeStamp = document.getElementById("time_scanned")


            displayName.textContent = first_name + " " + last_name
            displayNum.textContent = id_num

            if (data.validity == false)
            {
                scan_validity.style.backgroundColor = 'red'
                displayValid.textContent = "INVALID SCAN"
                displayTimeStamp.textContent = "Time Last Scanned: "
            }
            else
            {
                scan_validity.style.backgroundColor = 'green'
                displayValid.textContent = "VALID SCAN"
                displayTimeStamp.textContent = "Time Scanned: " + formattedTimestamp
            }
        })
        .catch(error => {
            console.error('Error:', error);
        })


        // Clear the input for the next scan
        document.getElementById("barcodeInput").value = "";
    } else {
        // Append the pressed key to the barcode input
        var key = event.key;
        document.getElementById("barcodeInput").value += key;
    }
});
</script>

<!-- Input field to capture barcode data -->
<input type="text" id="barcodeInput" style="display: none;">

<!-- Focus the input field initially -->
<script>
    document.getElementById("barcodeInput").focus();
</script>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->