<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<script src="js/auth2.js"></script>

<!-- Main Site -->
<main>
  <div class="authForm">
    <img src="/img/Mascot.jpg" alt="Huskie Logo" />
  </div>
  <div class="authForm">
  <div>
    <br><br><br>
    <label for="Access Code">Access Code:</label>
    <input type="text" id="Access Code" name="Access Code" autocomplete = "current-password"/> <!-- Allowed autocomplete by browser-->
  </div>
  <button class="buton" onclick="submitAccessCode(<%= sdata %>)">Submit</button>
  <!-- <button class="darkmode">Dark Mode</button> -->
  <div>
        <!-- <button class="darkmode" onclick="darkMode()">Dark Mode 😊</button> -->
    </div>
    <script>
        function darkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
        
        async function submitAccessCode(students) {
          var input = document.getElementById("Access Code").value.toLowerCase()
          console.log(input)
          var content = {accessCode : input}
          const response = await fetch("/studentTicket", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(content)
          })
          tid = ""
          match = false
          students.forEach(s => {

            s.tickets.forEach(t => {
              
              console.log(t.access_code)

              if (t.access_code.toLowerCase() == input && match != true)
              {
                tid = t._id
                match = true
              }
            })
          })
          if (!match)
          {
            console.error("student with access code '" + code + "' not found")
          }
          console.log(response)
          window.location.href = '/ticketDisplay/' + tid;
        }

    </script>
</main>





<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->