<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <img
    src="https://drive.google.com/file/d/16ruQ1RNyEr0gwDKDhRuFW992PG4uue2H/view?usp=sharing"
    alt="Graduation ticket"
  />
  <h1>Display ticket</h1>
  <div>
    <pre><%- JSON.stringify(student, null, 2) %></pre>
    
  </div>
</main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->