<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <img
    src="/img/SE-GitHub-image.png"
    alt="Huskie code logo"
    width="100"
    height="100"
  />
  <h1>Display ticket</h1>
  <div>
    <pre><%- JSON.stringify(student, null, 2) %></pre>
    <canvas id = "tbarcode"></canvas>
  </div>
</main>
<!-- /Main Site -->
<script >
var JsBarcode =  require("jsbarcode")

JsBarcode("#tbarcode", "here");


</script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->