<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <img
    src="/img/Graduation-Ticket.png"
    alt="Graduation ticket"
  />
  <h1>Display ticket</h1>
  <div>
    <pre><%- JSON.stringify(student, null, 2) %></pre>
    
  </div>
</main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->