/* styling for the authentication page */

.authForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.authForm img {
  width: 500px;
  height: 500px;
}

.indexTopBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.darkmode {
  background:#000;
  position: absolute;
  top: 7px;
  right: 10px;
  max-width: 8em;
}
.dark-mode {
  background: #000;
  padding: 5em;
  color: #eee;
}

.dark-mode-access-code-submit-field {
  background-color: #3CBC8D;
  color: white;
}

.buton {
  background: #53A2FF;
  border: 2px solid transparent;
  color: #eee;
  padding: 9px 15px;
  max-width:30em;
}

.buton:hover {
  border: 2px solid #000;
  background: #2e74bb;
  color: #eee;
} 
.indexTopBar img {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
}

.indexTopBar h1 {
  margin-right: auto;
}

.entry {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: black 1px solid;
}
@font-face {
  font-family: myFirstFont;
  src: url(foundationsans.otf);
}

.bottom-name {
  text-align:center;
  font-family: myfirstFont;
  font-size: 3em;
  color: rgb(255, 70, 0);
}

.barcode {
  float:center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.entryHabit {
  flex-basis: 200px;
}

.entryContent {
  flex-grow: 1;
}
