<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Export Names Page</title>
    <link rel="stylesheet" href="/css/exporter.css" />
  </head>

  <body>
    <div class="container">
      <img
        src="/images/husk.png"
        alt="Naperville North High School Logo"
        class="logo"
      />
      <!-- Replace with the actual path to your logo -->
      <h1>Export Names</h1>
      <form
        id="exportForm"
        method="POST"
        action="/export"
        enctype="multipart/form-data"
      >
        <button type="submit" class="form-button">Export</button>
      </form>

      <a href="/" class="button back-button">Back to Receiver Page</a>
    </div>
  </body>
</html>
