<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Export Names Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f7fa;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 90%;
        max-width: 600px;
        text-align: center;
      }

      h1 {
        color: #333;
        margin-bottom: 20px;
      }

      p {
        color: #555;
        font-size: 16px;
        margin-bottom: 30px;
      }

      .button {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        margin-top: 20px;
        transition: background-color 0.3s ease;
      }

      .button:hover {
        background-color: #0056b3;
      }

      .form-group {
        margin-bottom: 20px;
      }

      input[type="file"] {
        border: 2px solid #007bff;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        background-color: #f9f9f9;
      }

      input[type="file"]:focus {
        border-color: #0056b3;
        outline: none;
      }

      .form-button {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .form-button:hover {
        background-color: #218838;
      }

      .back-button {
        margin-top: 30px;
        display: inline-block;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Export Names</h1>
      <p>
        Upload an <strong>empty Excel file</strong> to export names, ticket
        codes, and IDs to.
      </p>

      <form
        id="exportForm"
        method="POST"
        action="/export"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="fileInput" style="font-size: 16px; color: #333"
            >Choose your Excel File</label
          ><br />
          <input
            type="file"
            id="fileInput"
            name="excelFile"
            accept=".xlsx, .xls"
            required
          />
        </div>

        <button type="submit" class="form-button">Export Names</button>
      </form>

      <a href="/" class="button back-button">Back to Receiver Page</a>
    </div>
  </body>
</html>
