<%- include('include/_header') %>
<main>
  <h1>Help Page</h1>
  <h2>Basic Functions</h2>
  <p>
    The main page, titled "Scan Tickets", is where tickets are scanned to check
    whether the person scanning is admitted. With a scanner connected to the
    device, the admin can scan the barcode on a ticket to check the validity of
    the ticket. Click on the "Waiting for scan..." box to make sure it's
    focused; this is indicated by a blue outline. If the ticket successfully
    scans, the box will change to show information about the ticket, including
    its validity. To scan the next ticket, make sure the box is focused (blue
    outline) and simply scan the next ticket.
  </p>
  <p>
    The "import" function allows admins to update the database with a list of
    names and ticket information. Only Excel files can be imported.
  </p>
</main>
<%- include('include/_footer') %>
