<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <div class="container">
    <h1>Import Names</h1>
  </div>
  <div class="form-container">
    <!-- File Upload Form -->
    <form id="uploadForm" enctype="multipart/form-data">
      <input
        type="file"
        id="fileInput"
        name="file"
        accept=".xlsx, .xls, .csv"
      />
    </form>
  </div>
  <div class="button-container">
    <button type="button" onclick="uploadFile()">Upload Spreadsheet</button>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

<!-- Add JavaScript to handle file upload -->
<script>
  async function uploadFile() {
    const form = document.getElementById("uploadForm");
    const formData = new FormData(form);

    const response = await fetch("/upload-spreadsheet", {
      method: "POST",
      body: formData,
    });

    if (response.ok) {
      alert("Spreadsheet uploaded successfully!");
    } else {
      alert("Failed to upload spreadsheet.");
    }
  }
</script>

<!-- Add CSS to style the page -->
<style>
  body {
    font-family: nnhsFont;
    background-color: #f4f4f4;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #333;
    font-family: nnhsFont;
    margin-bottom: 20px;
    font-size: 100px;
  }

  .form-container {
    text-align: center;
    margin-top: 150px;
  }

  form {
    display: inline-block;
  }

  input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .button-container {
    text-align: center;
    margin-top: 75px;
  }

  button {
    background-color: #2a3ead;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 38px;
    font-family: nnhsFont;
  }

  button:hover {
    background-color: #1f2359;
  }
</style>
