<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form id="loginForm" autocomplete="off">
        <input
          type="password"
          id="password"
          autocomplete="off"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>
      <p id="message"></p>
    </div>
    <script src="/assets/js/loginPage.js"></script>
  </body>
</html>
