<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <h1 id="title">Scan Tickets</h1>
  <div id="datafield"></div>
  <div class="container">
    <div id="scan-validity">
        <input type="text" id="barcodeInput" autofocus /></input>
      <div class="row" id="wait_status">
        <h2>Waiting for scan...</h2>
      </div>
      <div class="row" id="name"></div>
      <div class="row" id="id_number"></div>
      <div class="row" id="is_valid"></div>
      <div class="row" id="time_scanned"></div>
      <div class="row" id="ticket_row"></div>
    </div>
   <div id="buttons">
   <button class="button" id="import" onclick="promptPassword('importNames')">Import</button>
  <button class="button" id="export" onclick="promptPassword('exportNames')">Export</button>
  <button class="button" id="revertImport">Revert Import</button>
  <button class="button" id="help" onclick="window.location.href='/helpPage'">Help</button>
  

  <!-- Password Input for Importing, Exporting, and Reverting -->
  <input class="button" id="passwordInput" type="password" style="display:none;" placeholder="Enter password" />
  <button class="button" id="confirmPassword" style="display:none;" onclick="confirmPassword()">Confirm</button>
  <button class="button" id="cancelPassword" style="display:none;" onclick="cancelPassword()">Cancel</button>

  <button class="button" id="override" onclick="override()">Override</button>
  <input class="button" id="overrideInput" type="text" autofocus /></input>
  <button class="button" id="confirm" onclick="overrideConfirm(true)">Confirm</button>
  <button class="button" id="cancel" onclick="overrideConfirm(false)">Cancel</button>
  </div>

<script src="/assets/js/receiver.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
