<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<main>
  <h1 id="title">Scan Tickets</h1>
  <img
        src="/img/Mascot.jpg"
        alt="Naperville North High School Logos"
        class="logo"
      />
  <div id="datafield"></div>
  <div class="container">
    <div id="scan-validity">
        <input type="text" id="barcodeInput" autofocus /></input>
      <div class="row" id="wait_status">
        <h2>Waiting for scan...</h2>
      </div>
      <div class="row" id="name"></div>
      <div class="row" id="id_number"></div>
      <div class="row" id="is_valid"></div>
      <div class="row" id="time_scanned"></div>
      <div class="row" id="ticket_row"></div>
    </div>
   <div class="sidebar">
    <div class="logo_details">
      <i class="bx bxl-steam icon"></i>
      <div class="logo_name">Admin Menu</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <button class="button" id="import" onclick="window.location.href='/importNames'">
          <i class="bx bx-import"></i>
        <span class="link_name">Import</span>
        </button>
        <span class="tooltip">Import</span>
      </li>
      <li>
        <button class="button" id="export" onclick="window.location.href='/exportNames'"> 
          <i class="bx bx-export"></i>
        <span class="link_name">Export</span>
        </button>
        <span class="tooltip">Export</span>
      </li>
      <li>
        <button class="button" id="revertImport">
          <i class="bx bx-undo"></i> 
        <span class="link_name">Revert Last Import</span>
        </button>
        <span class="tooltip">Revert Last Import</span>
      </li>
      <li>
        <button class="button" id="override">
          <i class="bx bx-key"></i> 
        <span class="link_name">Override</span>
        </button>
        <span class="tooltip">Override</span>
      </li>
    </ul>
    </div>
  </div>
</main>

<script src="/assets/js/receiver.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
