@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f4f4f4;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}

main {
  height: 50%;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #0056b3;
  font-size: 28px;
}

.logo {
  display: block;
  margin: 0 auto 20px; /* Center logo */
  max-width: 150px; /* Limit size of the logo */
}

#scan-validity {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  flex-direction: column;
}

#barcodeInput {
  width: 80%;
  padding: 10px;
  border: 2px solid #0056b3;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

#barcodeInput:focus {
  border-color: #ff7f00;
}

.row {
  font-size: 18px;
  margin: 10px 0;
}

#is_valid {
  font-size: 22px;
  font-weight: bold;
}

.valid {
  background-color: #28a745 !important;
  color: white;
}

.invalid {
  background-color: #dc3545 !important;
  color: white;
}
/* Sidebar */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-default: #004f83;
  --color-second: #0067ac;
  --color-white: #fff;
  --color-body: #e4e9f7;
  --color-light: #e0e0e0;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.sidebar {
  min-height: 100vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo_details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo_details .logo_name {
  color: var(--color-white);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name {
  opacity: 1;
}

.sidebar .logo_details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo_details #btn {
  text-align: right;
}

.sidebar i {
  color: var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  color: var(--color-default);
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-second);
  transition: all 0.5s ease;
}

.sidebar input::placeholder {
  color: var(--color-light);
}

.sidebar.open input {
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar li button {
  display: flex;
  border: none;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all 0.5s ease;
  z-index: 12;
}

.sidebar li button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li button:hover::after {
  transform: scaleX(1);
  color: var(--color-default);
}

.sidebar li button .link_name {
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li button:hover .link_name,
.sidebar li button:hover i {
  transition: all 0.5s ease;
  color: var(--color-default);
}

.sidebar.open li button .link_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

#override {
  background: var(--color-default);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#override.visible {
  opacity: 1;
  pointer-events: auto;
}

@font-face {
  font-family: nnhsFont;
  src: url(foundationsans.otf);
}
