body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  display: flex;
}

h1 {
  color: #0056b3;
  font-size: 24px;
}

#scan-validity {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

#barcodeInput {
  width: 80%;
  padding: 10px;
  border: 2px solid #0056b3;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

#barcodeInput:focus {
  border-color: #ff7f00;
}

.row {
  font-size: 18px;
  margin: 10px 0;
  color: white;
}

#is_valid {
  font-size: 22px;
  font-weight: bold;
}

.valid {
  background-color: #28a745 !important;
  color: white;
}

.invalid {
  background-color: #dc3545 !important;
  color: white;
}

.button {
  background: #ff7f00;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 5px;
}

.button:hover {
  background: #e06900;
}

#override {
  background: #0056b3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#override.visible {
  opacity: 1;
  pointer-events: auto;
}

@font-face {
  font-family: nnhsFont;
  src: url(foundationsans.otf);
}
