.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
}

.row {
  margin-bottom: 20px;
  font-size: 10vh;
  color: white;
}

#title {
  font-size: 10vh;
  font-weight: bold;
  font-family: nnhsFont;
  color: #333;
  text-align: center;
  margin: 5vh;
}

.ticket-row {
  margin-bottom: 20px;
  font-size: 10px;
  color: white;
}

.override {
  position: absolute;
  top: 50px;
  right: 110px;
  background-color: darkred;
  color: #fff;
  padding: 10px 20px;
  font-size: 50px;
  border: 5px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 3px #000;
  font-family: nnhsFont;
}

.override:hover {
  background-color: black;
}

#scan-validity {
  text-align: center;
  width: 40vw;
  height: 50vh;
  padding: 10vh 10vw;
  background-color: #000000;
  font-family: nnhsFont;
}

#buttons {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 50vh;
  padding: 10vh 10vw;
  background-color: #d1b6b6;
  font-family: nnhsFont;
  align-items: center;
  justify-content: space-around;
}

.button {
  background-color: #333;
  height: 20vh;
  width: 20vw;
  color: white;
  padding: 2vh 2vw;
  font-size: 10vh;
  border: 5px solid #fff;
  border-radius: 5px;
  font-family: nnhsFont;
}

@font-face {
  font-family: nnhsFont;
  src: url(foundationsans.otf);
}
